@charset "utf-8";
/* CSS Document */



/* 3200 Desktop Screen */
@media all and (min-width:2000px) {
	#hpart { background-size:100% auto; }
}


/* 1024 iPade Horizontal Screen */
@media all and (max-width:1200px) {
	.heading-1 { font-size:47px; }
	#hpart { height:638px; }
	#hpart .logo-box { padding:20px 0 70px 30px; }
	#hpart .banner-text { padding-left:275px; font-size:30px; line-height:45px; }
	#about-me .about-cpart .contributor-box .contributor-logo .logo-box { padding-right:25px; }
	#our-services .service-cpart .service-box .name { font-size:23px; }
	#our-services .service-cpart .service-box .serviice-list li { font-size:15px; }
	#press-mention .text-boxt { font-size:30px; background-size:55px 60px; height:150px; }
	#press-mention .logo-box { width:190px; height:150px; }
	#get-in-touch .title-box .heading-1 { font-size:46px; }
	#get-in-touch .title-box .sub-title { font-size:23px; }
	#get-in-touch .heading-3 { font-size:24px; padding-bottom:20px; }
	#get-in-touch .black-bg-strip { bottom:270px; }
	#get-in-touch .contact-info { font-size:16px; padding-top:30px; }
	#featured-in .featured-box.title { font-size:18px; }
	#featured-in .col-xs-12 {max-width:100%}
	#get-in-touch .social-icons li {padding-right:20px}
}


/* 768 iPade Portrait Screen */
@media all and (max-width:1000px) {
	#hpart { height: 470px; }
	#hpart .logo-box { padding: 15px 0 20px 25px; }
	
	#hpart .banner-text { padding-left:30px; padding-top:143px; }
	#featured-in { padding: 20px 0; }
	#featured-in .featured-box.title { font-size:23px; }
	#about-me .about-cpart { border-left:20px solid #8165a6; padding:35px 30px; }
	#about-me .about-cpart .about-content { padding:20px 0px 0; }
	#about-me .about-cpart .desc p { padding-bottom:5px; }
	#about-me .about-cpart .sub-title { padding-bottom:10px; }
	#about-me .about-cpart .contributor-box .contributor-logo .logo-box { padding-right:15px; }
	#latest-blog .latest-blog-box { margin-bottom:30px; }
	#press-mention .text-boxt { width:100%; background-size: auto auto; padding-right:0; background-position:100% center; }
	#press-mention .logo-box { width:33.3%; border-top:1px solid #cccccc; }
	#press-mention .third-row .logo-box { border-bottom:1px solid #cccccc; }
	#latest-blog { padding-bottom:50px; }
	.heading-1 { margin-bottom:40px; }
	.heading-2 { font-size:40px; }
	#our-services { padding:50px 0 45px; }
	#get-in-touch .title-box { padding-bottom: 0px; }
	#get-in-touch .social-box { padding-top: 50px; }
	#get-in-touch .social-icons { padding:20px 0; }
	#get-in-touch .title-box .heading-1 { margin-bottom:10px; }
	#get-in-touch .black-bg-strip { top: 261px; height:100px; }	
	#get-in-touch .contact-info { padding-bottom:20px; }
	#hpart #nav .main-nav { top:0; width:100%; height:100%; z-index:1; }
	
	#hpart #nav { display:none; }
	#hpart #nav .main-nav li a { font-size:33px; }
	
	#hpart .nav-part.horizontal-nav #nav,
	#hpart .nav-part.horizontal-nav .pushmenu-push { transition: none 0s ease 0s ; -webkit-transition: none 0s ease 0s ; }
	
	#hpart .nav-part.horizontal-nav { height:auto; }
	#hpart .nav-part.horizontal-nav #nav {
		display: block;
		height: auto;
		width:auto;
		position: static;
		text-align: center;
		top: inherit;
		transform: translateX(0%); 
		-webkit-transform: translateX(0%);
	}
	#hpart .nav-part.horizontal-nav #nav .main-nav {
		background: none;
		height: auto;
		margin: 0;
		padding: 15px 0;
		width: inherit;
	}
	#hpart .nav-part.horizontal-nav #nav .main-nav li {
		float: left;
	  	padding: 0 10px;
	}
	#hpart .nav-part.horizontal-nav #nav .main-nav li a {
		display: block;
		font-size: 15px;
		font-weight: 300;
		position: relative;
		text-transform: uppercase;
	}

	.mobile-navigation,
	.mb-nav-icon { display:block; }
	/* Overlay style */
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(153,204,51,0.9);
	}
	
	/* Overlay closing cross */
	
	
	/* Menu style */
	.overlay nav {
		text-align: center;
		position: relative;
		top: 10%;
		width: 100%;
		height: 100%;
	}
	
	.overlay ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		height: 100%;
		width: 100%;
		position: relative;
	}
	
	.overlay ul li {
		display: block;
		padding:10px 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	.overlay ul li a {		
		display: block;
		color: #fff;
		font-size:33px;
		text-transform: uppercase;
		-webkit-transition: color 0.2s;
		transition: color 0.2s;
	}
	
	.overlay ul li a:hover,
	.overlay ul li a:focus {
		color: #f0f0f0;
	}
	
	/* Effects */
	html, body {
		overflow-x: hidden;
	}
	
	.push-box {
		overflow-x: hidden;
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;	
	}
	
	.push-box.overlay-open {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
	}
	
	.push-box::after {
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}
	
	.push-box.overlay-open::after {
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	
	.overlay-contentpush {
		background: rgba(153,204,51,1);
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
		transition: transform 0.5s, visibility 0s 0.5s;
		z-index:9;
	}
	
	.overlay-contentpush.open {
		visibility: visible;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
	}
	#featured-in .featured-box.title { font-size: 16px; }
	
	
	/* Mobile nav */		
	#hpart .nav-part, #hpart #nav { width:100%; height:100%; }
	#hpart .nav-part #nav { position:fixed; top:0; height:100%; text-align:center; display:block; 
		transform: translateX(-100%);
		transform: -webkit-translateX(-100%); 
	}		
	#hpart .nav-part #nav.pushmenu-open {  	
		transform: translateX(0%);
		transform: -webkit-translateX(0%);
	}

	#hpart .nav-part #nav .main-nav { width:100%; background:rgba(0, 0, 0, 0.8); background-image:none; padding:10% 0 0 0; }
	#hpart .nav-part #nav .main-nav li { padding:10px 0; }
	#hpart .nav-part #nav .main-nav li a {
		color: #fff;
		font-weight:300;
		display: block;
		font-size: 24px;
		text-transform: uppercase;
		transition: color 0.2s ease 0s;
	}
	#hpart #banner-canvas.pushmenu-push-toright { left:inherit; right:inherit; }
	.pushmenu-push {
  		overflow-x: hidden;
  		position: relative;
		transform: translateX(0%);
		transform: -webkit-translateX(0%);
	}	
	.pushmenu-push-toright {
		transform: translateX(100%);
		transform: -webkit-translateX(100%);
	}
	/*Transition*/
	.pushmenu, .pushmenu-push, #hpart .nav-part #nav, #nav.pushmenu-open {
		-webkit-transition: all 0.3s ease;
	  	-moz-transition: all 0.3s ease;
	  	transition: all 0.3s ease;  
	}
	#hpart #banner-canvas { z-index:-1; }
	.no-scroll { overflow:hidden; }
	.venoframe { width:80%!important; }
}

/* 736 iPhone 6s Horizontal Screen */
@media all and (max-width:760px) {
	#featured-in .container .row { display:inherit; overflow:auto }
	#featured-in .featured-box.title { text-align:center; font-size:30px; padding-bottom:15px; }
	#press-mention .text-boxt { background-size: 36px 40px; }
	#press-mention .text-boxt,
	#press-mention .logo-box { height:100px; }
	#featured-in .row > div.col-xs-3 { max-width:20%; float:left }
	#hpart .nav-part #nav .main-nav { overflow-y:auto; }
	
}


/* 667 iPhone 6 Horizontal Screen */
@media all and (max-width:730px) {
	#hpart { height:375px; }
	#hpart .banner-text { font-size:35px; line-height:40px; padding-top:128px; }
	#about-me .about-cpart { border-left:10px solid #8165a6; padding:20px; }
	#about-me .about-cpart .contributor-box .contributor-logo .logo-box { width:33.33%; }
	#our-services .service-cpart .service-box .serviice-list { padding-top:15px; }
	#hpart .nav-part.horizontal-nav #nav .main-nav li { padding:0 8px; }
	#hpart .nav-part.horizontal-nav #nav .main-nav li a { font-size:13px; }
	#our-services .service-cpart .service-box .icon-box {display:none}
}


/* 568 iPhone 5 Horizontal Screen */
@media all and (max-width:630px) {
	#hpart { height: 320px; }
	#hpart .logo-box a img { height:50px; }
	#hpart .banner-text { font-size:25px; line-height:35px; padding-left:23px; padding-top:100px; }
	#about-me .about-cpart,
	#about-me .img-box { width:100%; }
	#about-me .img-box { padding-top:0; }
	#about-me .img-box img { width:100%; }
	#latest-blog { padding-top:34px; padding-bottom:34px; }
	#latest-blog .latest-blog-box { padding:17px; }
	.heading-1 { font-size: 35px; margin-bottom:25px; }
	#get-in-touch .title-box .heading-1 { font-size: 35px; }
	#latest-blog .latest-blog-box .img-box { margin-bottom: 34px; }
	#latest-blog .latest-blog-box .date { padding-bottom:24px; }
	#latest-blog .latest-blog-box .desc { width:180px; font-size:19px; }
	#latest-blog .latest-blog-box .category { font-size:12px; width:100px; height:25px; }
	#press-mention { padding:50px 0; }
	#press-mention .text-boxt { font-size:25px; }
	#get-in-touch { padding:50px 0; }
	#get-in-touch .black-bg-strip { top:239px; }
	#get-in-touch .contact-form .form-control,
	#get-in-touch .contact-form .submit-btn { height:50px; }
	#get-in-touch .contact-form .form-group { margin-bottom: 15px; } 
	#our-services { padding-bottom:20px; }
	#our-services .service-cpart .service-box .name { width:50%; }
	#our-services .service-cpart .service-box .icon-box { width:50%; }
	#about-me  .row > div { width:100%; }
	#about-me .img-box { margin-left:0; }
	#hpart .nav-part #nav .main-nav li a { font-size:16px; }
	#hpart .horizontal-nav .logo-box { margin-left:0; }
	#hpart .horizontal-nav .logo-box img { width:80px; height: auto; }
	#hpart .nav-part.horizontal-nav #nav .main-nav { padding:10px 0; }
	#hpart .nav-part.horizontal-nav #nav .main-nav li { padding:0 5px; }
	#hpart .nav-part.horizontal-nav #nav .main-nav li a { font-size:11px; }
	#hpart .right-part {height:auto; width:50%; float:right}
	
	.venoframe { width:90% !important; } 
	
	#hpart.mbnav-active .nav-part #nav { 
		position:fixed; top:0; width:100%; height:100%; text-align:center; 
		transform: translateX(-100%);
		transform: -webkit-translateX(-100%); 
	}
	#hpart.mbnav-active .mb-nav-icon { 
		position: fixed;
    	right: 10px;
    	top: 17px; 
	}		
	#hpart.mbnav-active .nav-part #nav.pushmenu-open,
	#hpart.mbnav-active .horizontal-nav .logo-box {
		transform: translateX(0%);
		transform: -webkit-translateX(0%);
	}
	#hpart.mbnav-active .mb-nav-icon.active + .nav-part.horizontal-nav { height:100%; }
	#hpart.mbnav-active .nav-part.horizontal-nav #nav .main-nav { height:100%; padding:10% 0; }
	#hpart.mbnav-active .nav-part.horizontal-nav #nav .main-nav li { float:none; padding:10px 0; }
	#hpart.mbnav-active .nav-part.horizontal-nav #nav .main-nav li a { font-size:16px; }
}


/* 480 iPhone 4 Horizontal Screen */
@media all and (max-width:560px) {
	#about-me { padding:50px 0; }
	#our-services .service-cpart .col-xs-6,
	#latest-blog .row .col-xs-6,
	#latest-blog .latest-blog-box .img-box img { width:100%; }
	#our-services .service-cpart .service-box { height:242px; }
	#our-services .service-cpart .service-box .name { width:65%; }
	#our-services .service-cpart .service-box .icon-box { width:35%; }
	#get-in-touch .social-icons li { padding-right:20px; }
	#get-in-touch .black-bg-strip { top: 272px; }
	#get-in-touch .contact-form { padding:20px; }
}


/* 414 iPhone 6s Portrait Screen */
@media all and (max-width:470px) {
	#hpart .logo-box,
	#hpart .banner-text { padding-left:15px; }
	#hpart .banner-text { font-size:25px; line-height:35px; }
	#featured-in { padding-bottom:0; }
	#featured-in .row .col-xs-3 { width:50%; padding-bottom:20px; text-align:center; }
	#featured-in .row .col-xs-3 img { margin:0 auto; }
	#press-mention .logo-box,
	#press-mention .third-row .logo-box { width:100%; border-bottom:0; }
	#press-mention .logo-box + .logo-box { border-left:0; }
	#get-in-touch .contact-form { padding:30px 20px; }
	#get-in-touch .contact-info .col-xs-6 { width:100%; }
	#get-in-touch .title-box .sub-title { font-size: 14px; }
	#get-in-touch .social-box { padding-top: 35px; }
	#get-in-touch .social-icons li { padding-right: 15px; }
	#get-in-touch .social-icons li a { width:50px; height:50px; }
	#get-in-touch .social-icons li a img { width:39px; height:39px; background-size: 400px 110px; }
	#get-in-touch .black-bg-strip { top:210px; }
	#press-mention .text-boxt, #press-mention .logo-box { height:80px; }
	.fb-icon { background-position:0 -71px; }
	.twitter-icon { background-position:-52px -71px; }
	.instagram-icon { background-position:-105px -71px; }
	.youtube-icon { background-position:-158px -71px; }
	.skype-icon { background-position:-211px -71px; }
	#hpart .banner-text { font-size:22px; }
	.heading-1,
	#get-in-touch .title-box .heading-1 { font-size:30px; }
	#get-in-touch .contact-info,
	#get-in-touch .heading-3, #get-in-touch .social-icons { text-align:center; }
	#get-in-touch .social-icons li { float:none; display:inline-block; padding-right:10px; }
	#get-in-touch .social-icons li:last-child { padding-right:0; }
	#featured-in .row { text-align:center; }
	#featured-in .row > div.col-xs-3 { width: 30%; float:none; display:inline-block; height:auto; padding:0 10px 10px; }
	#get-in-touch .black-bg-strip { height: 80px; top: 208px; }
	
	.mb-nav-icon { right:15px; }
	#hpart.mbnav-active .nav-part.horizontal-nav #nav .main-nav { padding:15% 0 0 0; }
}


/* 375 iPhone 6 Portrait Screen */
@media all and (max-width:410px) {
	.heading-1, #get-in-touch .title-box .heading-1 { font-size: 28px; }
	#get-in-touch .black-bg-strip { top: 206px; }
}


/* 360 android device Portrait Screen */
@media all and (max-width:370px) {
	#get-in-touch .black-bg-strip { top: 236px; }
	#hpart .nav-part.horizontal-nav #nav .main-nav { padding-bottom:0; }
	#hpart .nav-part.horizontal-nav #nav .main-nav li a { font-size:10px; }
}


/* 320 iPhone 5 Portrait Screen */
@media all and (max-width:350px) {
	#get-in-touch .contact-form { padding:15px; box-shadow:15px 15px 7px rgba(0, 0, 0, 0.1); -webkit-box-shadow:15px 15px 7px rgba(0, 0, 0, 0.1); }
	#get-in-touch .contact-form .form-control, 
	#get-in-touch .contact-form .submit-btn { height:40px; }
	#get-in-touch .contact-form .form-control { padding:0 15px; font-size:12px; }
	#get-in-touch .contact-form .submit-btn { font-size:14px; }
	#fpart .copyright-text { padding:22px 0; }
	.heading-1, #get-in-touch .title-box .heading-1 { font-size:27px; }
	#get-in-touch .title-box .sub-title { font-size:15px; }
	#get-in-touch .social-box { padding-top: 25px; }
	#get-in-touch .social-icons li { padding-right: 10px; }
	#get-in-touch .social-icons li a { height: 46px; width: 46px; }
	#get-in-touch .contact-info { font-size: 13px; padding-top:20px; }
	#get-in-touch .black-bg-strip { top: 188px; height:80px; }
	#get-in-touch .heading-3 { font-size:19px; padding-bottom:10px; }
	#hpart .banner-text { font-size: 19px; line-height:30px; }
	#featured-in .row .col-xs-3 { height:55px; }
	#get-in-touch .title-box .sub-title { font-size:13px; }
	#get-in-touch .black-bg-strip { top: 203px; }
	#fpart .copyright-text { padding:30px 0; font-size:13px; }
	.backtotop { bottom:14px; }
	.heading-2 { font-size: 35px; }
}