@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0; }
body {font-family: 'Montserrat', sans-serif; font-weight: 300; background: #fff; }
a { text-decoration: none; }
a, img { border: 0; outline: none; }
a:hover, a:focus, a:active {text-decoration:none}
ul, ul li { list-style: none; }
/* Common class */

.wrapper { width: calc(100% - 244px); margin: 0 auto; }
.clearfix:after { clear: both; display: block; content: ""; }
/*.img-responsive { width:100%; }*/


/* Heading css */
.heading-1 { font-size: 54px; color: #010002; text-transform: uppercase;  margin: 0 0 65px 0; }
.heading-2 { font-size: 55px;  color: #000000; margin: 0; }

/* Icons css */
.icon { background: url(/images/sprite.png) no-repeat 0 0; }
.technical-icon { background-position: 0 0;  height: 75px; }
.social-icon { background-position: -95px 0; height: 75px; }
.contant-icon { background-position: -201px 0; height: 78px; }
.branding-icon { background-position: -286px 0;  height: 75px; }
.digital-icon { background-position: -372px 0;  height: 70px; }
.guest-icon { background-position: -489px 0;  height: 75px; }
.fb-icon { background-position: 0 -98px; width: 54px; height: 54px; }
.twitter-icon { background-position: -73px -98px; width: 54px; height: 54px; }
.instagram-icon { background-position: -146px -98px; width: 54px; height: 54px; }
.youtube-icon { background-position: -219px -98px; width: 54px; height: 54px; }
.skype-icon { background-position: -293px -98px; width: 54px; height: 54px; }

/* About me css */
#about-me { background: #efefef; padding: 75px 0; }
#about-me .about-cpart { background: #fff; border-left: solid 30px #8165a6; padding: 50px 40px; margin-right: -15px; }
#about-me .about-cpart .sub-title { font-size: 17px; text-transform: uppercase; color: #999999; padding-bottom: 20px; }
#about-me .about-cpart .desc { font-size: 14px; color: #555; line-height: 22px; }
#about-me .about-cpart .desc p { padding-bottom: 15px; }
#about-me .img-box { float: left; padding: 60px 0 0; margin-left: -15px; }
#about-me .about-cpart .about-content { padding: 20px 35px 0 35px; }
#about-me .about-cpart .contributor-box { padding-top: 26px; }
#about-me .about-cpart .contributor-box .contributor-logo .logo-box { float: left; font-size: 45px; height: 45px; align-items: center; -webkit-align-items: center; display: flex; display: -webkit-flex; padding-right: 30px; }

/* Our service css */
#our-services { position: relative; padding: 76px 0 45px 0; }
#our-services .container { position: relative; z-index: 1; }
#our-services .heading-1 { color: #fff; }
#our-services #canvas-basic { position: absolute; display: block; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; }
#our-services .service-cpart .service-box { background: #ffffff; padding: 20px; height: 258px; margin-bottom: 30px; }
#our-services .service-cpart .service-box .name { font-size: 24px; color: #000; float: left; width: 60%; }
#our-services .service-cpart .service-box .name a { color: #000; font-weight:400}
#our-services .service-cpart .service-box .name a:hover { color: #66478e; text-decoration: none; }
#our-services .service-cpart .service-box .icon-box { float: left; width: 40%; text-align: right; }
#our-services .service-cpart .service-box .serviice-list { padding: 25px 0 0 0; margin: 0; }
#our-services .service-cpart .service-box .serviice-list li { padding: 0 0 10px 0; margin: 0; color: #000; font-size: 17px; }
#our-services .service-cpart .service-box .serviice-list li a { color: #000; }
#our-services .service-cpart .service-box .serviice-list li a::before { content: "["; margin-right: 10px; transform: translateX(20px); }
#our-services .service-cpart .service-box .serviice-list li a::after { content: "]"; margin-left: 10px; transform: translateX(-20px); }
#our-services .service-cpart .service-box .serviice-list li a::before, #our-services .service-cpart .service-box .serviice-list li a::after { display: inline-block; opacity: 0; transition: transform 0.3s ease 0s, opacity 0.2s ease 0s; }
#our-services .service-cpart .service-box .serviice-list li a:hover::before, #our-services .service-cpart .service-box .serviice-list li a:hover::after, #our-services .service-cpart .service-box .serviice-list li a:focus::before, #our-services .service-cpart .service-box .serviice-list li a:focus::after { opacity: 1; transform: translateX(0px); }
#our-services .service-cpart .service-box .serviice-list li a:hover { color: #66478e; text-decoration: none; }

/* Press mention css */
#press-mention { padding: 70px 0; }
#press-mention .text-boxt { font-size: 36px; color: #575757; text-transform: uppercase;  background: url(/images/arrow-icon.png) no-repeat calc(100% - 40px) center; float: left; width: 36%; height: 180px; padding-right: 110px; align-items: center; -webkit-align-items: center; display: flex; display: -webkit-flex; font-weight:400px }
#press-mention .logo-box { align-items: center; -webkit-align-items: center; display: flex; display: -webkit-flex; justify-content: center; -webkit-justify-content: center; float: left; height: 180px; width: 235px; border-bottom: solid 1px #cccccc; }
#press-mention .logo-box + .logo-box { border-left: solid 1px #cccccc; }
#press-mention .third-row .logo-box { border-bottom: 0; }

/* Featured in css */
#featured-in { padding: 35px 0; }
#featured-in .container .row { display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; }
#featured-in .featured-box.title { font-size: 22px; color: #575757; text-transform: uppercase;  }
.dark-blue { color: #376cc1; }
.red { color: #ea4335; }
.yellow { color: #fbbc05; }
.blue { color: #4285f4; }
.green { color: #33a451; }
.gray { color: #696471; }

/* Header css */
#hpart { height: 729px; position: relative; }
#hpart #banner-canvas { position: absolute; display: block; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0;  background-repeat: no-repeat; background-position: 0 0; background-size: 100% 100%; }
#hpart .container-fluid { height: 100%; }
#hpart .hpart-container { height: 100%; position: relative; z-index: 2; }
#hpart .hpart-container > div { padding: 0; height: 100%; }
#hpart .right-part { float: left; width: 100%; align-items: end; -webkit-align-items: end; display: flex; display: -webkit-flex; height: 100%; justify-content: end; -webkit-justify-content: end; position:relative }
#hpart .right-part img {position:absolute; bottom:0; right:0}
#hpart .logo-box { padding: 25px 0 85px 35px; }
#hpart .logo-box .logo-text { font-size: 72px; color: #fff;  }
#hpart .logo-box .sub-text { font-size: 18px; text-transform: uppercase; color: #fff; }
#hpart #nav { float: left; }
#hpart #nav .main-nav { width: 239px; height: 375px; padding: 45px 0 0 0; margin: 0; background: #ffc736;  background: -webkit-linear-gradient(#ffc736, #ff8108);  background: -o-linear-gradient(#ffc736, #ff8108);  background: -moz-linear-gradient(#ffc736, #ff8108); background: linear-gradient(#ffc736, #ff8108);  }
#hpart #nav .main-nav li { padding: 0 0 20px 35px; margin: 0; }
#hpart #nav .main-nav li a { font-size: 17px; color: #fff; text-transform: uppercase; position: relative; display: block; font-weight:400 }
#hpart #nav .main-nav li a::before { color: #fff; content: attr(data-hover); position: absolute; transition: transform 0.3s ease 0s, opacity 0.3s ease 0s; }
#hpart #nav .main-nav li a:hover::before, #hpart #nav .main-nav li a:focus::before { opacity: 0; transform: scale(0.9); }
#hpart #nav .main-nav li a:hover { text-decoration: none; color: rgba(0, 0, 0, 0.7); }
.mb-nav-icon { position: absolute; right: 25px; top: 25px; z-index: 9999; cursor: pointer; display: none; }
.mb-nav-icon .nav-icon { display: inline-block; background: url(/images/mb-nav-icon.png) no-repeat 0 0; width: 30px; height: 25px; }
.mb-nav-icon.active { position: fixed; }
.mb-nav-icon.active .nav-icon { background: url(../images/mb-nav-close-icon.png) no-repeat 0 0; }
#hpart .banner-text {  font-size: 48px; text-transform: uppercase; color: #fff; line-height: 60px; float: left; padding: 225px 0 0 285px; font-weight:600 }
.mobile-navigation { display: none; }

/* Horizontal menu css */
#hpart .horizontal-nav { display: none; position: fixed; width: 100%; z-index: 999; top: 0; left: 0; padding: 10px; background: #000;  opacity: 0.8 }
#hpart .horizontal-nav .logo-box { float: left; margin: 0 0 0 15px; padding:0; }
#hpart .horizontal-nav .logo-box img { width: 200px; }
#hpart .horizontal-nav #nav { float: right; }
#hpart .horizontal-nav #nav .main-nav { padding: 15px 0; margin: 0; background:none; height:auto; width:inherit; }
#hpart .horizontal-nav #nav .main-nav li { float: left; padding: 0 15px; }
#hpart .horizontal-nav #nav .main-nav li a { color: #fff; display: block; font-size: 17px; position: relative; text-transform: uppercase; font-weight: 300; }
#hpart .horizontal-nav #nav .main-nav li a:hover,
#hpart .horizontal-nav #nav .main-nav li.active a { text-decoration: none; color: #ffc233; }

/* Latest Blog css */
#latest-blog { background: #efefef; padding: 70px 0 80px 0; }
#latest-blog .latest-blog-box { background: #fff; padding: 30px; position: relative }
#latest-blog .latest-blog-box .img-box { margin-bottom: 30px; }
#latest-blog .latest-blog-box .img-box a { background: #eee; display: block; }
#latest-blog .latest-blog-box .date { font-size: 17px; color: #000; padding-bottom: 40px; }
#latest-blog .latest-blog-box .desc { font-size: 23px; color: #000; text-transform: uppercase; padding-bottom: 50px;  }
#latest-blog .latest-blog-box .desc a { color: #000; transition: transform 0.3s ease 0s, opacity 0.2s ease 0s; }
#latest-blog .latest-blog-box .desc a:hover { color: #66478e; text-decoration: none; }
#latest-blog .latest-blog-box .category { width: 120px; height: 32px; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content: center; -webkit-justify-content: center; position: absolute; right: 0px; bottom: 0px; font-size: 14px; color: #fff; text-transform: uppercase; }
.orange { background: #ff840a; }
.purple { background: #8165a6; }
.green { background: #33a451; }

/* Get In touch css */
#get-in-touch { position: relative; padding: 60px 0 70px; z-index: 1; background: rgba(0, 0, 0, 0) linear-gradient(#5d4083, #e65c9d) repeat scroll 0 0 }
#get-in-touch .title-box { padding-bottom: 70px; }
#get-in-touch .title-box .heading-1 { font-size: 53px; color: #fff; margin: 0 0 20px; }
#get-in-touch .title-box .sub-title { font-size: 26px; color: #fff; }
#get-in-touch .container { position: relative; z-index: 2; }
#get-in-touch .contact-form { background: #ffffff; padding: 40px 30px; box-shadow: 25px 25px 7px rgba(0,0,0,0.1); -webkit-box-shadow: 25px 25px 7px rgba(0,0,0,0.1); }
#get-in-touch .contact-form .form-group { margin-bottom: 25px; position: relative; }
#get-in-touch .contact-form .form-group .form-error { bottom: -22px; font-size: 12px; left: 0; position: absolute; margin: 0; }
#get-in-touch .contact-form .form-control { background: #efefef; border: 0; padding: 0 20px; height: 65px; font-size: 14px; color: #2d0707; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; border-radius: 0; -webkit-border-radius: 0; }
#get-in-touch .contact-form .submit-btn { width: 100%; height: 65px; text-transform: uppercase; font-size: 18px; color: #010000; background: #ffa620; border: 0; border-radius: 0; -webkit-border-radius: 0; cursor:pointer }
#get-in-touch .social-box { padding-top: 100px; }
#get-in-touch .heading-3 { font-size: 26px; color: #fff; padding-bottom: 30px; }
#get-in-touch .social-icons { padding: 42px 0; margin: 0; }
#get-in-touch .social-icons li { padding: 0 25px 0 0; margin: 0; float: left; }
#get-in-touch .social-icons li a { display: inline-block; width: 66px; height: 66px; background: #fff; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content: center; -webkit-justify-content: center; }
#get-in-touch .contact-info { font-size: 18px; color: #fff; padding: 35px 0 0 0; }
#get-in-touch .contact-info .contact-info-text { padding-bottom: 10px; }
#get-in-touch .contact-info .contact-info-text a { color: #fff; }
#get-in-touch .contact-info .contact-info-text a:hover { text-decoration: none; }
#get-in-touch .black-bg-strip { position: absolute; right: 0; bottom: 265px; left: 0; z-index: 1; width: 100%; height: 150px; background-color: rgba(0,0,0,0.17); }
#get-in-touch #pink-bg { position: absolute; display: block; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; }
label.error { color: #f3601d; font-weight:300; font-size:13px; position:absolute; right:10px; top:10px }
.successmsg { background-color: #EFFEB9; border: 1px solid #C1D779; color: #5d7216 }
.successmsg { display: block; margin: 18px 0; padding: 15px 8px 15px 15px; position: relative; }
.img-responsive {max-width:100%; height:auto}

/* Copyright css */
#fpart .copyright-text {  font-size: 16px; color: #000; padding: 35px 0; }
.backtotop { background: rgba(0,0,0,0.5); text-align: center; width: 50px; height: 50px; position: fixed; bottom: 20px; right: 20px; display: block; outline: 0; line-height: 45px; z-index: 99; }
/* venobox.css */
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after { -webkit-backface-visibility: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.vbox-overlay { width: 100%; height: 100%; position: fixed; top: 0; left: 0; bottom: 0; z-index: 10401; opacity: 0; overflow-x: hidden; overflow-y: auto; }
.vbox-preloader { position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: -webkit-flex; -webkit-justify-content: center; -webkit-align-items: center; -webkit-align-content: center; display: flex; justify-content: center; align-items: center; align-content: center; }
/* navigation */
.vbox-title { width: 100%; height: 40px; float: left; text-align: center; line-height: 28px; font-size: 12px; padding: 6px 40px; overflow: hidden; position: fixed; display: none; left: 0; z-index: 1050; }
.vbox-close { cursor: pointer; position: fixed; top: -1px; right: 0; width: 50px; height: 40px; padding: 6px; display: block; background-position: 10px center; overflow: hidden; font-size: 24px; line-height: 1; text-align: center; z-index: 1050; }
.vbox-num { cursor: pointer; position: fixed; left: 0; height: 40px; display: block; overflow: hidden; line-height: 28px; font-size: 12px; padding: 6px 10px; display: none; z-index: 1050; }
/* navigation ARROWS */
.vbox-next, .vbox-prev { position: fixed; top: 50%; margin-top: -15px; overflow: hidden; cursor: pointer; display: block; width: 45px; height: 45px; z-index: 1050; }
.vbox-next span, .vbox-prev span { position: relative; width: 20px; height: 20px; border: 2px solid transparent; border-top-color: #B6B6B6; border-right-color: #B6B6B6; text-indent: -100px; position: absolute; top: 8px; display: block; }
.vbox-prev { left: 15px; }
.vbox-next { right: 15px; }
.vbox-prev span { left: 10px; -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
.vbox-next span { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); right: 10px; }
/*inline window */
.vbox-inline { width: 420px; height: 315px; height: 80vh; padding: 10px; background: #fff; margin: 0 auto; overflow: auto; text-align: left; }
/*  Video & iFrames window ------ */
.venoframe { max-width: 100%; width: 100%; border: none; width: 100%; height: 260px; height: 80vh; }
.venoframe.vbvid { height: 260px; }
@media (min-width: 768px) {
.venoframe, .vbox-inline { width: 90%; height: 360px; height: 80vh; }
.venoframe.vbvid { width: 640px; height: 360px; }
}
@media (min-width: 992px) {
.venoframe, .vbox-inline { max-width: 1200px; width: 80%; height: 540px; height: 80vh; }
.venoframe.vbvid { width: 960px; height: 540px; }
}
/* 

Please do NOT edit this part! 
or at least read this note: http://i.imgur.com/7C0ws9e.gif
*/
.vbox-open { overflow: hidden; }
.vbox-container { position: relative; background: #000; width: 100%; max-width: 1200px; margin: 0 auto; padding: 0; }
.vbox-content { text-align: center; float: left; width: 100%; position: relative; overflow: hidden; padding: 20px 10px; }
.vbox-container img { max-width: 100%; height: auto; }
.figlio { box-shadow: 0 0 12px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); max-width: 100%; text-align: initial; }
.vbox-content { -webkit-overflow-scrolling: touch; }
/* ---------- preloader ----------
 * SPINKIT 
 * http://tobiasahlin.com/spinkit/
-------------------------------- */
.sk-double-bounce, .sk-rotating-plane { width: 40px; height: 40px; margin: 40px auto }
.sk-rotating-plane { background-color: #333; -webkit-backface-visibility: visible; -moz-backface-visibility: visible; backface-visibility: visible; -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out; animation: sk-rotatePlane 1.2s infinite ease-in-out }
@-webkit-keyframes sk-rotatePlane { 0% {
-webkit-transform:perspective(120px) rotateX(0) rotateY(0);
transform:perspective(120px) rotateX(0) rotateY(0)
}
50% {
-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);
transform:perspective(120px) rotateX(-180.1deg) rotateY(0)
}
100% {
-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
}
}
@keyframes sk-rotatePlane { 0% {
-webkit-transform:perspective(120px) rotateX(0) rotateY(0);
transform:perspective(120px) rotateX(0) rotateY(0)
}
50% {
-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0);
transform:perspective(120px) rotateX(-180.1deg) rotateY(0)
}
100% {
-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
}
}
.sk-double-bounce { position: relative }
.sk-double-bounce .sk-child { width: 100%; height: 100%; border-radius: 50%; background-color: #333; opacity: .6; position: absolute; top: 0; left: 0; -webkit-animation: sk-doubleBounce 2s infinite ease-in-out; animation: sk-doubleBounce 2s infinite ease-in-out }
.sk-double-bounce .sk-double-bounce2 { -webkit-animation-delay: -1s; animation-delay: -1s }
@-webkit-keyframes sk-doubleBounce { 0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes sk-doubleBounce { 0%, 100% {
-webkit-transform:scale(0);
transform:scale(0)
}
50% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
.sk-wave { width: 50px; height: 40px; text-align: center; font-size: 10px; margin: 40px auto }
.sk-wave .sk-rect { background-color: #333; height: 100%; width: 4px; margin: 0 1px; display: inline-block; -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out; animation: sk-waveStretchDelay 1.2s infinite ease-in-out }
.sk-wave .sk-rect1 { -webkit-animation-delay: -1.2s; animation-delay: -1.2s }
.sk-wave .sk-rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s }
.sk-wave .sk-rect3 { -webkit-animation-delay: -1s; animation-delay: -1s }
.sk-wave .sk-rect4 { -webkit-animation-delay: -.9s; animation-delay: -.9s }
.sk-wave .sk-rect5 { -webkit-animation-delay: -.8s; animation-delay: -.8s }
@-webkit-keyframes sk-waveStretchDelay { 0%, 100%, 40% {
-webkit-transform:scaleY(.4);
transform:scaleY(.4)
}
20% {
-webkit-transform:scaleY(1);
transform:scaleY(1)
}
}
@keyframes sk-waveStretchDelay { 0%, 100%, 40% {
-webkit-transform:scaleY(.4);
transform:scaleY(.4)
}
20% {
-webkit-transform:scaleY(1);
transform:scaleY(1)
}
}
.sk-three-bounce { margin: 40px auto; width: 100px; text-align: center }
.sk-three-bounce .sk-child { width: 16px; height: 16px; background-color: #333; border-radius: 100%; margin: 4px; display: inline-block; -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; animation: sk-three-bounce 1.4s ease-in-out 0s infinite both }
.sk-cube-grid, .sk-spinner-pulse { width: 40px; height: 40px; margin: 40px auto }
.sk-three-bounce .sk-bounce1 { -webkit-animation-delay: -.32s; animation-delay: -.32s }
.sk-three-bounce .sk-bounce2 { -webkit-animation-delay: -.16s; animation-delay: -.16s }
@-webkit-keyframes sk-three-bounce { 0%, 100%, 80% {
-webkit-transform:scale(0);
transform:scale(0)
}
40% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
@keyframes sk-three-bounce { 0%, 100%, 80% {
-webkit-transform:scale(0);
transform:scale(0)
}
40% {
-webkit-transform:scale(1);
transform:scale(1)
}
}
.sk-spinner-pulse { background-color: #333; border-radius: 100%; -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out; animation: sk-pulseScaleOut 1s infinite ease-in-out }
@-webkit-keyframes sk-pulseScaleOut { 0% {
-webkit-transform:scale(0);
transform:scale(0)
}
100% {
-webkit-transform:scale(1);
transform:scale(1);
opacity:0
}
}
@keyframes sk-pulseScaleOut { 0% {
-webkit-transform:scale(0);
transform:scale(0)
}
100% {
-webkit-transform:scale(1);
transform:scale(1);
opacity:0
}
}
.sk-cube-grid .sk-cube { width: 33.33%; height: 33.33%; background-color: #333; float: left; -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out }
.sk-cube-grid .sk-cube1 { -webkit-animation-delay: .2s; animation-delay: .2s }
.sk-cube-grid .sk-cube2 { -webkit-animation-delay: .3s; animation-delay: .3s }
.sk-cube-grid .sk-cube3 { -webkit-animation-delay: .4s; animation-delay: .4s }
.sk-cube-grid .sk-cube4 { -webkit-animation-delay: .1s; animation-delay: .1s }
.sk-cube-grid .sk-cube5 { -webkit-animation-delay: .2s; animation-delay: .2s }
.sk-cube-grid .sk-cube6 { -webkit-animation-delay: .3s; animation-delay: .3s }
.sk-cube-grid .sk-cube7 { -webkit-animation-delay: 0ms; animation-delay: 0ms }
.sk-cube-grid .sk-cube8 { -webkit-animation-delay: .1s; animation-delay: .1s }
.sk-cube-grid .sk-cube9 { -webkit-animation-delay: .2s; animation-delay: .2s }
@-webkit-keyframes sk-cubeGridScaleDelay { 0%, 100%, 70% {
-webkit-transform:scale3D(1, 1, 1);
transform:scale3D(1, 1, 1)
}
35% {
-webkit-transform:scale3D(0, 0, 1);
transform:scale3D(0, 0, 1)
}
}
@keyframes sk-cubeGridScaleDelay { 0%, 100%, 70% {
-webkit-transform:scale3D(1, 1, 1);
transform:scale3D(1, 1, 1)
}
35% {
-webkit-transform:scale3D(0, 0, 1);
transform:scale3D(0, 0, 1)
}
}
.sk-wandering-cubes { margin: 40px auto; width: 40px; height: 40px; position: relative }
.sk-wandering-cubes .sk-cube { background-color: #333; width: 10px; height: 10px; position: absolute; top: 0; left: 0; -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both }
.sk-wandering-cubes .sk-cube2 { -webkit-animation-delay: -.9s; animation-delay: -.9s }
@-webkit-keyframes sk-wanderingCube { 0% {
-webkit-transform:rotate(0);
transform:rotate(0)
}
25% {
-webkit-transform:translateX(30px) rotate(-90deg) scale(.5);
transform:translateX(30px) rotate(-90deg) scale(.5)
}
50% {
-webkit-transform:translateX(30px) translateY(30px) rotate(-179deg);
transform:translateX(30px) translateY(30px) rotate(-179deg)
}
50.1% {
-webkit-transform:translateX(30px) translateY(30px) rotate(-180deg);
transform:translateX(30px) translateY(30px) rotate(-180deg)
}
75% {
-webkit-transform:translateX(0) translateY(30px) rotate(-270deg) scale(.5);
transform:translateX(0) translateY(30px) rotate(-270deg) scale(.5)
}
100% {
-webkit-transform:rotate(-360deg);
transform:rotate(-360deg)
}
}
@keyframes sk-wanderingCube { 0% {
-webkit-transform:rotate(0);
transform:rotate(0)
}
25% {
-webkit-transform:translateX(30px) rotate(-90deg) scale(.5);
transform:translateX(30px) rotate(-90deg) scale(.5)
}
50% {
-webkit-transform:translateX(30px) translateY(30px) rotate(-179deg);
transform:translateX(30px) translateY(30px) rotate(-179deg)
}
50.1% {
-webkit-transform:translateX(30px) translateY(30px) rotate(-180deg);
transform:translateX(30px) translateY(30px) rotate(-180deg)
}
75% {
-webkit-transform:translateX(0) translateY(30px) rotate(-270deg) scale(.5);
transform:translateX(0) translateY(30px) rotate(-270deg) scale(.5)
}
100% {
-webkit-transform:rotate(-360deg);
transform:rotate(-360deg)
}
}



/* Main navigation */

.nav-part { position:absolute; left:0; top:0; z-index:100; }